<h1><center ><b>Juanita Andrea Agudelo</ center></h1>
<h2><center><i>Excercises about numbers - Computational Methods</center></h1>
<h3><center>CC 1000722415</center></h1>

#### 1. Imprime primero 10 numeros naturales (1,2,3,4,5,6,7,8,9,10) usando "for loop" y print ()

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

#### 2. Imprime primero 10 numeros naturales (1,2,3,4,5,6,7,8,9,10)  usando "while loop" y print ()

In [ ]:
i=0
while i<10:
  i+=1
  print(i)

1
2
3
4
5
6
7
8
9
10

#### 3. Calcular la soma de numeros (1+2+3+4+5+6+7+8+9+10) usando "for loop" y guarda resultado en variable "my_result"

In [ ]:
sum=0
for i in range(1,11):
  sum+=i
  my_result=sum
print(my_result)

55

#### 4. Calcular la soma de numeros (1+2+3+4+5+6+7+8+9+10) usando "while loop" y guardar resultado en variable "my_result"

In [ ]:
sum=0
i=0
while i < 10:
  i+=1
  sum+=i
  my_result=sum
print(my_result)

55

#### 5. Calcular la soma de numeros par (2+4+6+8+10.. + ...100) usando "for loop" y guardar resultado en variable "my_result" (pista: usa condicion "if" y "%")

In [ ]:
sum=0
for i in range(1,101):
  if i%2==0:
    sum+=i
    my_result=sum
print(my_result)

2550

#### 6. Calcular la soma de numeros impar (1+3+5+7+9+... + ...99) usando "while loop" y guardar resultado en variable "my_result" (pista: usa condicion "if" y "%")

In [ ]:
suma=0
i=0
while i < 99:
  i+=1
  if i % 2 != 0:
    suma+=i
my_result=suma
print(my_result)

2500

#### 7. Definir una function que se llama func_sum_even_odd(b) que recibe un parametro "b" - valor numerico. La funcion calcula soma de numeros pares y numeros impares separamente entre 0 y b (los dos valores incluidos) . La funcion guarda resultados en dos variables en sum_even, sum_odd y devuelve ambos usando "return". (usa metodo: while)

ejemplo de ejecucion:   
sum_even,sum_odd = func_sum_even_odd(10)  
print(sum_even,sum_odd)  
30,25  

#### Pero si "b" no es ni integer ni float funcion devuelve sum_even=0,y sum_odd=0 y imprime mensaje: "argument must be an integer or float"   (usa: "isinstance" o negacion de isinstance: "not isinstance" conjunto con operador logico "or" para verificar si el argumento es int of float)

ejemplo de ejecucion:  
sum_even,sum_odd = func_sum_even_odd('z')  
"argument must be an integer or float"

In [50]:
def func_sum_even_odd(b):
  sum_even=0
  sum_odd=0
  i=0
  if type(b)==int or type(b)==float:
    while i <= b:
      if i%2==0:
        sum_even+=i
        i+=1
      else:
        sum_odd+=i
        i+=1        
  else:
    
    print('WARNING: argument must be an integer or float')
  
  return sum_even, sum_odd

In [51]:
#try the code use b='4', a variable other than integer or float
sum_even, sum_odd  = func_sum_even_odd('4')

print('sum_even=', sum_even)
print('sum_odd=', sum_odd )

WARNING: argument must be an integer or float
sum_even= 0
sum_odd= 0

In [64]:
#try the code use b=4, a number
sum_even, sum_odd  = func_sum_even_odd(4)

print('The sum of even and odd numbers are')
print('sum_even=', sum_even)
print('sum_odd=', sum_odd )

The sum of even and odd numbers are
sum_even= 6
sum_odd= 4

#### 8. Modifica funcion anterior y usa conjunto: try:... except:... (mira arriva en el texto de la classe)
try:   
--->intenta hacer si no sale error  
except:  
--->hace otra cosa si sale error

In [59]:
def func_sum_even_odd1(b):
  try:
    sum_even=0
    sum_odd=0
    i=0
    while i <= b:
      if i%2==0:
        sum_even+=i
        i+=1
      else:
        sum_odd+=i
        i+=1        
  except:
    print('WARNING: argument must be an integer or float')
  
  return sum_even, sum_odd

In [60]:
#try the code use b='4', a variable other than integer or float using TRY - EXCEPT 
sum_even, sum_odd  = func_sum_even_odd1('4')

print('sum_even=', sum_even)
print('sum_odd=', sum_odd )

WARNING: argument must be an integer or float
sum_even= 0
sum_odd= 0

In [63]:
#try the code use b=4, a number using TRY - EXCEOPT
sum_even, sum_odd  = func_sum_even_odd1(4)

print('The sum of even and odd numbers are')
print('sum_even=', sum_even)
print('sum_odd=', sum_odd )

The sum of even and odd numbers are
sum_even= 6
sum_odd= 4