# Exercicios sobre numeros :

#### 1. Imprime primero 10 numeros naturales (1,2,3,4,5,6,7,8,9,10) usando "for loop" y print ()

In [ ]:
for N in range(1,11):   #FOR LOOP
  
  print(N)

1
2
3
4
5
6
7
8
9
10

#### 2. Imprime primero 10 numeros naturales (1,2,3,4,5,6,7,8,9,10)  usando "while loop" y print ()

In [ ]:
N=1
while (N<=10):  #WHILE LOOP
  print(N)
  N+=1

1
2
3
4
5
6
7
8
9
10

#### 3. Calcular la soma de numeros (1+2+3+4+5+6+7+8+9+10) usando "for loop" y guarda resultado en variable "my_result"

In [ ]:
My_result=0               #VARIABLES

for N in range(1,11):     #FOR LOOP
  My_result += N

print(f"La suma de los primeros 10 numeros naturales es: {My_result}")

La suma de los primeros 10 numeros naturales es: 55

#### 4. Calcular la soma de numeros (1+2+3+4+5+6+7+8+9+10) usando "while loop" y guardar resultado en variable "my_result"

In [ ]:
My_result=0           #VARIABLES
i=1             

while (i<=10):      # WHILE LOOP
  My_result += i
  i += 1

print(f"La suma de los primeros 10 numeros es: {My_result}")

La suma de los primeros 10 numeros es: 55

#### 5. Calcular la soma de numeros par (2+4+6+8+10.. + ...100) usando "for loop" y guardar resultado en variable "my_result" (pista: usa condicion "if" y "%")

In [ ]:
My_result=0      #VARIABLES

for n in range(1,101):    #FOR LOOP

  if ((n % 2)!=1):   #CONDITIONAl IF ;  The % operator returns the remainder of the division.
    My_result += n

print("La suma de los primeros 100 numeros pares es:")
print(f"2 + 4 + 6 +...+ 100 = {My_result}.")

La suma de los primeros 100 numeros pares es:
2 + 4 + 6 +...+ 100 = 2550.

#### 6. Calcular la soma de numeros impar (1+3+5+7+9+... + ...99) usando "while loop" y guardar resultado en variable "my_result" (pista: usa condicion "if" y "%")

In [ ]:
My_result=0     #VARIABLES
N=0

while (N<=100):     #WHILE LOOP
  
  if ((N%2)!=0):                #CONDITIONAL IF
    
    My_result= My_result + N

  N += 1

print("La suma de los primeros 100 numeros impares es:")
print(f"1 + 3 + 5 +...+ 99 = {My_result}.")

La suma de los primeros 100 numeros impares es:
1 + 3 + 5 +...+ 99 = 2500.

#### 7. Definir una function que se llama func_sum_even_odd(b) que recibe un parametro "b" - valor numerico. La funcion calcula soma de numeros pares y numeros impares separamente entre 0 y b (los dos valores incluidos) . La funcion guarda resultados en dos variables en sum_even, sum_odd y devuelve ambos usando "return". (usa metodo: while)

ejemplo de ejecucion:   
sum_even,sum_odd = func_sum_even_odd(10)  
print(sum_even,sum_odd)  
30,25  

#### Pero si "b" no es ni integer ni float funcion devuelve sum_even=0,y sum_odd=0 y imprime mensaje: "argument must be an integer or float"   (usa: "isinstance" o negacion de isinstance: "not isinstance" conjunto con operador logico "or" para verificar si el argumento es int of float)

ejemplo de ejecucion:  
sum_even,sum_odd = func_sum_even_odd('z')  
"argument must be an integer or float"

In [ ]:
def func_sum_even_odd(b):             #FUNCION
  
  if (not isinstance(b,str)):   #CONDITIONAL      "b" FLOAT OR INT    

    sum_even=0
    sum_odd=0                 #VARIABLES
    N=0
    i=0

    while (N <= b):       # While Loop CASO PAR
      if ((N%2)!=1):
        sum_even = sum_even + N
      N= N+1

    while (i <= b):     #While loop CASO IMPAR 
      if ((i%2)!=0):
        sum_odd = sum_odd + i
      i=i+1
    return(sum_even, sum_odd)

  else:   #CONDITIONAL    "b" STR

    sum_even=0
    sum_odd=0
    
    return(sum_even, sum_odd, "argument must be an integer or float")

#### 8. Modifica funcion anterior y usa conjunto: try:... except:... (mira arriva en el texto de la classe)
try:   
--->intenta hacer si no sale error  
except:  
--->hace otra cosa si sale error

In [ ]:
func_sum_even_odd(10)

(30, 25)

In [ ]:
func_sum_even_odd("ZZZZZZ")

(0, 0, 'argument must be an integer or float')